<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Resume Reader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    The data of the file after parsing
    <h1>Name: {{name}}</h1>
    <br />
    <h1>Email: {{email}}</h1>
    <br />
    <h1>PhoneNo: {{phone}}</h1>
    <br />
    <h1>LengthOf Image: {{lenimage}}</h1>
    <br />
    <form method="POST" action="test" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="submit" value="Downlaod CSV"  />
    </form>
  </body>
</html>
